# pesde
.pesde
roblox_packages
roblox_server_packages
luau_packages
lune_packages

# lock files
*.lock

# build files
out
sourcemap.json
site
src/*/generated/**/*.luau
!src/shared/generated/types/roblox.luau

# lute typedefs
.lute/typedefs

# python
.venv
.cache

# system files
.DS_Store
Thumbs.db

# mirror codebase
mirror