# packages
.pesde
roblox_packages
roblox_server_packages
luau_packages
lune_packages
node_modules

# lock files
*.lock

# build files
out
sourcemap.json
site
src/*/generated/**/*.luau
!src/shared/generated/types/roblox.luau
.vitepress/cache

# typedefs
.lute/typedefs
roblox.d.luau

# python
.venv
.cache

# system files
.DS_Store
Thumbs.db

# mirror codebase
mirror
